<footer>
  <div class="footer">
    <a class='admin' href='/bartenda/<%= onePost.id %>/edit'>Admin</a>
    <hr>
    <a class='credit' href='/terms'>Designed and Created by Carrie Sampson &copy;2017</a>
  </div>
</footer>
