<footer>
  <div class="footer">
    <a class='privacy' href='/login'>privacy policy</a>
    <hr>
    <a class='terms' href='/terms'>terms of service</a>
    <hr>
    <a class='support' href='/support'>user support</a>
  </div>
</footer>
