<head>
  <meta charset="utf-8">
  <title>Bartenda 21</title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel='stylesheet' type='text/css' href='/../../css/header.css'>
  <link rel='stylesheet' type='text/css' href='/../../css/footer.css'>
  <link href="https://fonts.googleapis.com/css?family=Aclonica" rel='stylesheet'>
</head>
