/*font-family: 'Aclonica', sans-serif;*/

.footer {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  background: #000;
  padding-top: 12px;
  padding-bottom: 10px;
}

hr {
  margin: 0px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.privacy {
  font-family: 'Aclonica', sans-serif;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 40px;
  vertical-align: bottom;
  text-decoration: none;
  color: #fff;
}

.terms {
  font-family: 'Aclonica', sans-serif;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  vertical-align: bottom;
  text-decoration: none;
  color: #fff;
}

.support{
  font-family: 'Aclonica', sans-serif;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  vertical-align: bottom;
  text-decoration: none;
  color: #fff;
}
