/*font-family: 'Aclonica', sans-serif;*/

body {
  background-color: #0000;
  max-width: 1000px;
  margin: auto;
}

video {
  min-width: 100%;
  z-index: -100;
}

header {
  background-color: #FFF;
  opacity: .8;
  margin-top: -180px;

}

.title {
  font-family: 'Aclonica', sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 70px;
  padding-left: 50px;
}

.subtitle {
  font-family: 'Aclonica', sans-serif;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 50px;
  padding-bottom: 15px;
}

.thickRule {
  margin-top: 0px;
  background: #000;
  padding-top: 15px;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: #FFF;
}

main {
  padding-left: 50px;
}
