/*font-family: 'Aclonica', sans-serif;*/
/*font-family: 'BenchNine', sans-serif;*/

body {
  background-color: #0000;
  max-width: 1000px;
  margin: auto;
  height: auto;
  cursor: default;
}

video {
  min-width: 100%;
  z-index: -100;
}

.mainTitle {
  background-color: #FFF;
  opacity: .8;
  margin-top: -162px;
  margin-bottom: 0px;
}

.titleText {
  font-family: 'Aclonica', sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 70px;
  padding-left: 50px;
  color: #000;
}

.subtitleText {
  font-family: 'Aclonica', sans-serif;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 50px;
  padding-bottom: 14px;
  color: #000;
}

a:hover {
  color: #A4310D;
}

nav {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  background: #000;
  padding-top: 12px;
  padding-bottom: 10px;
}

hr {
  margin: 0px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.home {
  font-family: 'Aclonica', sans-serif;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 10px;
  vertical-align: bottom;
  text-decoration: none;
  color: #fff;
}

.login,
.register {
  font-family: 'Aclonica', sans-serif;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: bottom;
  text-decoration: none;
  color: #fff;
}

/*------------------------------*/
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: auto;
  padding-bottom: 30px;
}

form {
  margin-bottom: 10px;
}

.postTitle {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Aclonica', sans-serif;
  max-width: 600px;
  word-wrap: normal;
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding-top: 40px;
  color: #000;
}

.details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  word-wrap: normal;
  text-align: left;
  text-decoration: none;
  margin: auto;
}

.subtitle {
  font-family: 'Aclonica', sans-serif;
  font-size: 18px;
  margin-top: 23px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #A4310D;
}

.field {
  font-family: 'BenchNine', sans-serif;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: normal;
  text-align: left;
  min-width: 500px;
  padding: 5px;
  margin: auto;
}

.cancelAdd {
  font-family: 'Aclonica', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  background-color: #e5ae9e;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.submitAdd {
  font-family: 'Aclonica', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  background-color: #e5ae9e;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.cancelAdd:hover {
  color: #A4310D;
}

.submitAdd:hover {
  color: #A4310D;
}
