<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bartenda Home</title>
    <link rel="stylesheet" type="text/css" href="/../../css/index-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5a2591181b11810013587863&product=sticky-share-buttons' async='async'></script>
  </head>
  <body>
    <div class="titleHero">
      <video playsinline autoplay muted loop fade>
          <source src="../video/whiskey.webm" type="video/webm">
          <source src="../video/whiskey.mp4" type="video/mp4">
      </video>
      <header>
        <h1 class="title" id="titleFont">BARTENDA 21</h1>
        <h3 class="subtitle" id="subtitleFont">DISCOVER & SHARE</h3>
      </header>
      <div class="thickRule"></div>
    </div>
    <main>
      <p><a href='/bartenda/new'>Add a drink to the bar</a></p>
      <div class='col1'></div>
      <div class='col2'>
        <% for (let post of allPosts) { %>
          <a href='/bartenda/<%= post._id %>'><img src='<%= post.url %>'></a>
          <h3><%= post.drinkName %></h3>
          <h4><%= post.submittedBy %></h4>
        <% } %>
      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
