<!DOCTYPE html>
<html>
  <%# Created partial for head content%>
  <% include ../partials/head.ejs %>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>
    <main>
      <form action='/bartenda' method='POST'>
        <p>Upload your photo<sup>*</sup></p>
        <input class="imgFile" type="file" accept="image/*" capture="camera" name='img' />
        <p>What's the name of the drink?<sup>*</sup></p>
        <input type='text' name='drinkName' placeholder='Enter the drink name'/>
        <p>Submitted by?<sup>*</sup></p>
        <input type='text' name='submittedBy' placeholder='Enter your username'/>
        <p>What's in it?</p>
        <input type='text' name='ingredients' placeholder='Your drink is made of...?'/>
        <p>Where did you drink it?</p>
        <input type='text' name='locationName' placeholder='Business name?'/>
        <p>City</p>
        <input type='text' name='locationCity' placeholder='City of business?'/>
        <p>And the state? Not mental state, actual US state:</p>
        <input type='text' name='locationState' placeholder='Enter US state'/>
        <p>The cost in dollars and cents, not brain cells:</p>
        <input type='number' name='price' placeholder='Price'/>
        <p>Comment on your drink</p>
        <input type='text' name='yourComments' placeholder='Comment on your drink'/>
        <p><button>Submit</button></p>
      </form>
      <%# Created partial for footer content%>
      <% include ../partials/footer.ejs %>
  </body>
</html>
