<%# <!DOCTYPE html>%>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Bartenda Home</title>
    <link rel='stylesheet' type='text/css' href='/../../css/header.css'>
    <link rel='stylesheet' type='text/css' href='/../../css/footer.css'>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel='stylesheet'>
  </head>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>

    <%# Created partial for footer content%>
    <% include ../partials/footer.ejs %>
  </body>
</html>
