<%# <!DOCTYPE ejs>%>
<html>
<%# Created partial for head content%>
<% include ../partials/head.ejs %>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>
    <main>
      <h3>User Log In</h3>
      <form action="/login" method="POST">
        <p>Enter your username</p>
        <input name='username'/>
        <p>Enter your password</p>
        <input name='password'/>
        <button type='submit'>Log In</button>
      </form>
    </main>
    <%# Created partial for footer content%>
    <% include ../partials/footer.ejs %>
  </body>
</html>
