<%# <!DOCTYPE ejs>%>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Bartenda Login</title>
    <link rel='stylesheet' type='text/css' href='/../../css/header.css'>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel='stylesheet'>
  </head>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>
    <main>
      <h3>User Log In</h3>
      <form action="/login" method="POST">
        <p>Enter your email address</p>
        <input name='emailAddress'/>
        <p>Enter your password</p>
        <input name='password'/>
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
