<%# <!DOCTYPE ejs>%>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bartenda 21</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' href='/../../css/header.css'>
    <link rel='stylesheet' type='text/css' href='/../../css/footer.css'>
    <link rel='stylesheet' type='text/css' href='/../../css/login-reg.css'>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel='stylesheet'>
  </head>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>
    <main>
      <h3>User Log In</h3>
      <form action="/login" method="POST">
        <p>Enter your username</p>
        <input name='username'/>
        <p>Enter your password</p>
        <input name='password'/>
        <button type='submit'>Log In</button>
      </form>
    </main>
    <%# Created partial for footer content%>
    <% include ../partials/footer.ejs %>
  </body>
</html>
