<%# <!DOCTYPE ejs>%>
<html>
<%# Created partial for head content%>
<% include ../partials/head.ejs %>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>
    <main>
      <h3>User Registration</h3>
      <form action="/register" method="POST">
        <p>Enter your user name below</p>
        <input type='text' name='username'/>
        <p>Enter your email address</p>
        <input type='text' name='emailAddress'/
        <p>Enter your password</p>
        <input type='text' name='password'/>
        <button type="submit" value='createUser'>Submit</button>
      </form>
    </main>
    <%# Created partial for footer content%>
    <% include ../partials/footer.ejs %>
  </body>
</html>
