<%# <!DOCTYPE ejs>%>
<html>
<%# Created partial for head content%>
<% include ../partials/head.ejs %>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>
    <main>
      <h3>User Registration</h3>
      <form action="/register" method="POST">
        <p>Enter your email address</p>
        <input name='emailAddress'/>
        <p>Enter a username</p>
        <input name='username'/>
        <p>Enter a password</p>
        <input name='password'/>
        <p>Re-type your password</p>
        <input name='retypePassword'/>
        <button type='submit'>Register</button>
      </form>
    </main>
    <%# Created partial for footer content%>
    <% include ../partials/footer.ejs %>
  </body>
</html>
